<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body class="container">
    <header>
        {{>header}}

    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Here you will find All the products saved!!</h1>
            {{>list}}
    </main>

    <footer>
        {{>footer}}
    </footer>
</body>
</html>